denc_flow.txt
[{"id":"c2831846.d475c","type":"http in","z":"7a0cd03f.7817c","name":"E2EE AES Sensor data","url":"/e2e","method":"post","swaggerDoc":"","x":216.1666717529297,"y":179.08334350585938,"wires":[["7f5e4b44.817574"]]},{"id":"eacd0182.39acd","type":"debug","z":"7a0cd03f.7817c","name":"","active":true,"console":"false","complete":"true","x":830.1666870117188,"y":161.33334350585938,"wires":[]},{"id":"46c61ab5.c06154","type":"inject","z":"7a0cd03f.7817c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":203.1666717529297,"y":309.41668701171875,"wires":[["6979f97d.609cf8"]]},{"id":"6979f97d.609cf8","type":"function","z":"7a0cd03f.7817c","name":"Dummy message","func":"msg.payload=\n    { \"rawData\": \"U2FsdGVkX185eRzeTFNm56O85sfJtsjXFNkupqTnXywm6xBKqVgC+GqlVCNvOqWDBUQjE3+7RTHqMpetjL30tBjUZQqE7OvZ0RY9jngYU8c=\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":449.1666717529297,"y":307.74998474121094,"wires":[["d68e3dfe.826708"]]},{"id":"d68e3dfe.826708","type":"cryptojs","z":"7a0cd03f.7817c","name":"","key":"2B7E151628AED2A6ABF7158809CF4F3C","iv":"2B7E151628AED2A6ABF7158809CF4F3C","x":583.1666870117188,"y":164.0833740234375,"wires":[["eacd0182.39acd","e3535e3b.e0e4a"]]},{"id":"e3535e3b.e0e4a","type":"function","z":"7a0cd03f.7817c","name":"Decode message","func":"// Decode the base64 data\nvar data = new Buffer( msg.decrypted, \"hex\").toString();\n\nmsg.message = data;\nconsole.log(msg.message);\nreturn msg;","outputs":1,"noerr":0,"x":770.1666717529297,"y":272.24998474121094,"wires":[["eacd0182.39acd"]]},{"id":"7f5e4b44.817574","type":"json","z":"7a0cd03f.7817c","name":"","x":385.1666717529297,"y":232.24998474121094,"wires":[["d68e3dfe.826708"]]}]
